.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  column-gap: 10px;
}
.appheader {
  color: aliceblue !important;
  font-family: cursive;
  font-size: large;
  font-weight: bold;
}
.imglogo {
  width: 50px;
  height: 50px;
}
.searchbar > * {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  padding-left: 100px;
  border: 50px;
}
.navbar {
  background-image: linear-gradient(
    rgba(255, 220, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  ) !important;
}
.App > * {
  flex: 1;
}
/* * {
  background-image: linear-gradient(
    rgba(255, 220, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
} */
