.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  column-gap: 10px;
}
.searchbar > * {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  padding-left: 100px;
  border: 50px;
}
.App > * {
  flex: 1;
}
* {
  background-image: linear-gradient(
    rgba(255, 220, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
}
